<div class="text-center">
  <h1><%= t(:title) %></h1>
</div>

<div class="row justify-content-around mb-3">
  <div class="card col-md-4 m-3 px-0">
    <%= link_to copy_index_path do %>
      <div class="card-header">
        <h3 class="text-center">Copywriting</h3>
      </div>
      <div class="card-body text-center">
        <%= image_tag("copywriting.jpg", width: "200px") %>
      </div>
    <% end %>
  </div>

  <div class="card col-md-4 m-3 px-0">
    <%= link_to blog_index_path do %>
      <div class="card-header">
        <h3 class="text-center">Blog</h3>
      </div>
      <div class="card-body text-center">
        <%= image_tag("blog.jpg", width: "200px") %>
      </div>
    <% end %>
  </div>
</div>

<% if admin_signed_in? %>
  <div class="text-center m-4">
    <%= link_to "New Article", new_article_path, class: "m-auto p-3" %>
    <%= link_to "Archived Articles", archived_path, class: "m-auto p-3" %>
  </div>
<% end %>
