<h1>Archived Blogs</h1>

<ul>
  <% if @copies.present? %>
    <% @copies.each do |article| %>
      <div class="card col-md-5 m-3">
        <%= link_to article, class: "overflow-hidden shrink fade-bottom" do %>
          <h5 class="card-head text-center ">
            <%= article.title %>
          </h5>
          <div class="card-body">
            <% if article.photo %>
              <div class="article_photo">
                <%= markdown article.photo %>
              </div>
            <% end %>
            <%= markdown article.body %>
          </div>
        <% end %>
        <br>

        <%= button_to "Unarchive", unarchive_copy_path(article), data: {turbo_method: "post"}, class: "btn" %>
      </div>
    <% end %>
  <% end %>
</ul>

<%= link_to "Copywriting", copies_path %>