<header class="mb-4">
  <div class="d-flex flex-row">
    <div class="flex-item">
      <%= link_to copies_path do %>
        <%= icon('fa-solid', 'arrow-left') %>
      <% end %>
    </div>
  </div>
</header>
<article>
  <div>
    <h3 class="post-title"><%= @copy.title %></h3>
    <div class="my-3"><%= @copy.date_display %></div>
    <% if @copy.photo %>
      <%= markdown @copy.photo %>
    <% end %>
    <div class="my-4"><%= markdown @copy.body %> </div>
  </div>
  <% if admin_signed_in? %>
    <%= button_to "Edit", edit_copy_path(@copy), class: "btn" %>
    <%= button_to "Archive", archive_copy_path(@copy), data: {turbo_method: "post"}, class: "btn" %>
  <% end %>
</article>
