<div class="row justify-content-around d-flex flex-wrap">

  <div class="image-container d-flex align-items-center justify-content-center col-md-4 m-3 p-2">
    <%= link_to food_path do %>
      <div>
        <%= image_tag("cuisine.jpg", class: "image") %>
      </div>
      <div class="middle">
        <h3 class="article-tile-text"><%= t('articles.food').upcase %></h3>
      </div>
    <% end %>
  </div>

  <div class="image-container d-flex align-items-center justify-content-center col-md-4 m-3 p-2">
    <%= link_to traditions_path do %>
      <div>
        <%= image_tag("tradition.jpg", class: "image") %>
      </div>
      <div class="middle">
        <h3 class="article-tile-text"><%= t('articles.traditions').upcase %></h3>
      </div>
    <% end %>
  </div>

  <div class="image-container d-flex align-items-center justify-content-center col-md-4 m-3 p-2">
    <%= link_to architecture_path do %>
      <div>
        <%= image_tag("architecture.jpg", class: "image") %>
      </div>
      <div class="middle">
        <h3 class="article-tile-text"><%= t('articles.architecture').upcase %></h3>
      </div>
    <% end %>
  </div>

  <div class="image-container d-flex align-items-center justify-content-center col-md-4 m-3 p-2">
    <%= link_to landscapes_path do %>
      <div>
        <%= image_tag("landscape.jpg", class: "image") %>
      </div>
      <div class="middle">
        <h3 class="article-tile-text"><%= t('articles.landscapes').upcase %></h3>
      </div>
    <% end %>
  </div>

  <div class="image-container d-flex align-items-center justify-content-center col-md-4 m-3 p-2">
    <%= link_to history_path do %>
      <%= image_tag("history.jpg", class: "image") %>
      <div class="middle">
        <h3 class="article-tile-text"><%= t('articles.history').upcase %></h3>
      </div>
    <% end %>
  </div>

</div>